@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<div class="jumbotron">
    <h2> Error - You didn't choose the room. </h2>
    <p> Go back to @Html.ActionLink("Open Scheduler", "ChooseRoom", "ConferenceRoom") and choose the conference room. </p>
</div>